<div class='sixteen columns'>
  <form action=<%= "/signup"%> method="post">
    <h4>Sign up</h4>
    <label>Choose a user name:</label>
    <input name="user_name" type="text" />
    <label>Choose a password:</label>
    <input name="password1" type="text" />
    <label>Confirm your password:</label>
    <input name="password2" type="text" />
    <button class="btn">Submit</button>
  </form>
</div>