<div class='sixteen columns'>
  <form action=<%= "/signin"%> method="post">
    <h4>Sign in</h4>
    <label>User Name:</label>
    <input name="user_name" type="text" />
    <label>Password:</label>
    <input name="password" type="text" />
    <button class="btn">Submit</button>
  </form>
</div> 