<div class="sixteen columns">
  <h2 class="strapline">All Posts! <a href='/posts/new'>[new]</a></h2>
</div>
<div class="grid infinite">
  <% @posts.each do |post| %>
  <div class="four columns grid-item">
    <a href="/posts/<%= post['id'] %>"><%= post['title'] %></a>
    <div class="caption">
      <span class="artist"><%#= post['content'].chars.first(15).join + '...' %></span>
    </div>
  </div>
  <% end %>
</div>
