
<form action="/comments/<%= @comment['id'] %>" method='post'>
      <input type='text' placeholder='Edit your comment' name='content'>
      <input type='hidden' name='user_id' value='<%= @current_user['id'] %>'>
      <input type='submit' value='Submit'>
</form>